<div class="form-inline">
  <div class="form-group col-sm-4 col-xs-12" style="float:inherit">
    <div class="checkbox checkbox-success">
      <input type="checkbox" id="stattgefunden" [checked]="stattgefunden">
      <label for="stattgefunden" style="padding-left: 12px;"> Begehung stattgefunden</label>
    </div>
  </div>

  <div class="form-group col-sm-4 col-xs-12" style="float:inherit">
    <input type="text" id="begehungsdatum" disabled [value]="begehungsdatum"
           class="form-control begehung-datum-text">
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
  </div>
</div>



