<canvas fmCanvas (touchStatus)="showStatus($event)" class="signature" width="200">
  Sorry, your browser doesn't support the &lt;canvas&gt; element.
</canvas>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" style="float: left;">
      <button type="button" class="btn btn-danger navbar-btn" (click)="clean()">Löschen</button>
    </div>
    <div class="collapse navbar-collapse" style="float:right">
      <button type="button" class="btn btn-primary navbar-btn">Speichern</button>
    </div>
  </div>
</nav>
<div>
  {{status}}
</div>
