<h1>
  {{title}}
</h1>
<input type="file" accept="image/*" (change)="onImageSelected($event)">


<button class="btn btn-primary " (click)="lgModal.show()">Signature</button>
<button class="btn btn-primary" (click)="sketch.show()">Skizzen</button>
<button class="btn btn-primary" (click)="protocol.show()">Protocol</button>

<div fmModal #lgModal="fm-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Large modal</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <fm-signature class="col-sm-6"></fm-signature>
          <div class="col-sm-3">
            <p>item 1: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
              like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
          <div class="col-sm-3">
            <p>item 2: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
              like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div fmModal #sketch="fm-modal" [static]="'true'" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="sketch.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Skizze</h4>
      </div>
      <div class="modal-body">
        <fm-sketch (close)="sketch.hide()"></fm-sketch>
      </div>
    </div>
  </div>
</div>

<h4>Online status: {{onlineStatus}}</h4>


<div fmModal #protocol="fm-modal" [static]="'true'" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="protocol.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Protocol</h4>
      </div>
      <div class="modal-body">
        <fm-protocol (close)="protocol.hide()"></fm-protocol>
      </div>
    </div>
  </div>

  </div>
